.header {
	display: flex;
}

.header .navigation ul {
	display: flex;
	margin-top: 40px;
	margin-left: 100px;
	list-style: none;
}

.header .navigation ul li {
	margin-right: 50px;
	font-size: 30px;
}
